<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Book info.</title>
</head>
<body>
    <div align="center">
        <h1> Book List</h1>
        <div sec:authorize="isAuthenticated()">
            Welcome <b><span sec:authentication="name">Username</span></b> &nbsp;
            <i><span sec:authentication="principal.authorities">Roles</span></i>
        </div>
        <!--        to logout -->
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>


        <div sec:authorize="hasAnyAuthority('AUTHOR')">
        <!-- Add Button -->
        <a href="/new"> Add New Book</a>
        </div>
        <table border="1" cellpadding="10">
            <thead>
                <tr>
                    <th> Book ID</th>
                    <th> Book Name</th>
                    <th> Book Publication</th>
                    <th sec:authorize="hasAnyAuthority('AUTHOR')">Action</th>
                </tr>
            </thead>
            <tr th:each="book:${bookList}" >
                <td th:text="${book.bid}">Book ID</td>
                <td th:text="${book.bookName}">Book Name</td>
                <td th:text="${book.publication}">Book Publication</td>
                <td sec:authorize="hasAnyAuthority('AUTHOR')">
                    <div sec:authorize="hasAnyAuthority('AUTHOR')">
                        <a th:href ="@{'/edit/'+ ${book.bid}}" >Edit</a>
                        &nbsp;&nbsp;&nbsp;
                        <a th:href ="@{'/delete/'+ ${book.bid}}">Delete</a>
                    </div>
                </td>
            </tr>
        </table>

    </div>
<!--    <-&break -----------User ----;&gt;-->

    <div align="center">
        <h1> User List</h1>
        <div sec:authorize="isAuthenticated()">
            Welcome <b><span sec:authentication="name">Username</span></b> &nbsp;
            <i><span sec:authentication="principal.authorities">Roles</span></i>
        </div>
        <!--        to logout -->
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Logout" />
        </form>


        <div sec:authorize="hasAnyAuthority('AUTHOR')">
            <!-- Add Button -->
            <a href="/admin/new"> Add New Book</a>
        </div>
        <table border="1" cellpadding="10">
            <thead>
            <tr>
                <th> User ID</th>
                <th> User Name</th>
                <th sec:authorize="hasAnyAuthority('AUTHOR')">Action</th>
            </tr>
            </thead>
            <tr th:each="user:${userList}" >
                <td th:text="${user.id}">Book ID</td>
                <td th:text="${user.userName}">Book Name</td>
                <td sec:authorize="hasAnyAuthority('ADMIN')">
                    <div sec:authorize="hasAnyAuthority('ADMIN')">
                        <a th:href ="@{'/edit/'+ ${user.id}}" >Edit</a>
                        &nbsp;&nbsp;&nbsp;
                        <a th:href ="@{'/delete/'+ ${user.id}}">Delete</a>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</body>
</html>